<!DOCTYPE html>
<html>
    <head>
        <title>FLL Rank Match</title>
        <link href='assets/open_sans' rel='stylesheet' type='text/css'>
        <link href='assets/bootstrap.css' rel='stylesheet' type='text/css'>
        <script src="assets/jquery.js"></script>
        <!-- Upload Shit -->
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
        <h1 style="text-align: center;">Rank Match <small>Ontario FLL event assignment</small></h1>
        </div>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
